body {
    line-height: 1.4;
    background-color: #fbddf1;
    font-family: 'Courier New', Courier, monospace;
    color: #15173D;
    font-size: 16px;

    
}

.page-wrapper {
    
    max-width: 60%;
    margin: 0 auto;
}

#navigation-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #8f1867 dotted 5px;
}

.main-nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 50px;
    align-items: center;

}

.main-nav ul {
    padding: 0.5em 1em;
    display: block;
    margin: 0;
    padding: 0;
}

.main-nav a {
    text-decoration: none;
    color: #222222;
    font-weight: bold;
}

.main-nav li a {
    font-size: 25px;

}

#front-page {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    display: flex;

}

#front-page h2 {
    margin-top: 50px;
}

#front-page .left-side {
    margin-right: 20px;
}

#front-page .right-side {
    margin-left: 50px;
}

#socials {
    margin-top: 30px;
    margin-bottom: 0px;
    
}

#socials ul {
    display: flex;
    gap: 65px;
    padding: 0;
    margin: 0;
    
}

#socials li{
    list-style: none;
    font-size: 25px;
    
}

#socials a {
    padding: 0;
    margin: 0;
    color: blue
}

#socials .github-icon {
    color: black;
}

#socials .linkedin-icon {
    color: #0A66C2;
}

#socials .email-icon {
    color: #982598;
}

h1 {
    color: #982598;
    font-size: 50px;
}

h1,
h2,
h3 {
    line-height: 1.2
}

#profile-pic {
    border-radius: 15px;
}

h2 {
    margin-bottom: 0px;
}

#title {
    margin-top: 0px;
    color:#982598;
}

.experience {
    background-color: #efbede;
    border: 1px solid hsl(300, 59%, 45%);
    border-radius: 5px;
    margin: 10px 5px 20px 5px;
    padding: 10px;

}

.list-of-projects {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 15px;
}

.project {
    background-color: #efbede;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius : 10px;
    padding: 10px;
    flex: 1;
}

.emphasized-text {
    color: #982598;
}

.skills-section {
    margin-bottom: 25px;
}
.skills-section h3{
    font-size: 20px;
    
}

.list-of-skills {
    display: flex;
    gap: 40px;
    justify-content: start
}
.list-of-skills li {

    font-weight: bold;
    flex-wrap: wrap;
    background-color: #efbede;
    border: 2px solid hsl(300, 59%, 45%);
    border-radius: 10px;

    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}